html[data-theme="dark"] {
  /* --color-primary: #5b9d67;
  --color-primary-light: #d7f9db;
  --color-primary-dark: #266937;
  --color-secondary: #70a6ff;
  --color-background: #212121;
  --color-background-card: #000000;
  --color-text: #ffffff; */
}
